###################################
## DROPLET {{drop_name}}
###################################

To connect:

{% for host in ansible_play_hosts | sort %}
  ssh root@{{ hostvars[host].ansible_hostname }}   ({{ hostvars[host].inventory_hostname }})
{% endfor %}

